server:
  port: 8080
spring:
  application:
    name: api-gateway

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
      group:
        liveness:
          include: ping
        readiness:
          include: ping
  health:
    ping:
      enabled: true
